body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #f4f6f9;
}

.container {
    display: flex;
    height: 100vh;
}

/* foooter */
footer {
    text-align: center;
    background-color: #2d3e50;
    color: white;
    
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    margin-bottom: 20px;
}

.widget {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #2d3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    padding: 9px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.close {
    position: absolute; 
    padding: 3px 15px;
    background-color: #2d3e50;
    right: 10px;
    top: 5px;
    color: red;
    border: none;
    box-shadow: 1px 9px 8px rgba(230, 97, 97, 0.1);
    border-radius: 5px;
  }

  .edit {
    position: absolute; 
    padding: 3px 15px;
    background-color: #2d3e50;
    right: 10px;
    top: 5px;
    margin-right: 50px;
    color: rgb(24, 227, 34);
    border: none;
    box-shadow: 1px 9px 8px rgba(230, 97, 97, 0.1);
    border-radius: 5px;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
  }


  ul li:hover {
    background: #ddd;
  }

  /* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    
    border-color: #6fee93;
    border-style: solid;
    border-width: 0 2px 2px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    left: 9px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


